@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 258 31% 14%;
    --foreground: 0 0% 100%;
    --card: 258 31% 18%;
    --card-foreground: 0 0% 100%;
    --popover: 258 31% 14%;
    --popover-foreground: 0 0% 100%;
    --primary: 259 59% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 31% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 258 31% 22%;
    --muted-foreground: 258 10% 70%;
    --accent: 201 91% 65%;
    --accent-foreground: 258 31% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 258 31% 25%;
    --input: 258 31% 25%;
    --ring: 259 59% 44%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased selection:bg-accent selection:text-accent-foreground;
  }
}

.android-ripple {
  position: relative;
  overflow: hidden;
}

.android-ripple::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.android-ripple:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}